.Balance {
	width: 80%;
	margin: auto auto 1.5em;
	display: flex;
	flex-flow: column;
	align-items: center;
	padding: 1.5em;
	border: 2px solid #cacacf;
	border-radius: 3em;
	box-shadow: inset 0 0 2em #cacac4;
	background-color: #e8ebec;

}
.Balance-title {
	font-size: 2.3em;
}
.Balance-amount {
	font-size: 2em;
}