.Main {
	background: lightblue;
	min-height: 100vh;
	max-width: 1280px;
}
.Main-container {
	background: lightcoral;
	width: 100%;
}

.Expenses-container {
	background: lightcyan;
	display: flex;
	flex-flow: row nowrap;
}